* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
  padding: 1.5rem;
}
main p {
  font-size: 1rem;
  letter-spacing: 0.6px;
  line-height: 1.4;
}
main .navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
main .navbar .left {
  display: flex;
}
main .navbar .right h5 {
  display: none;
  font-size: 0.89rem;
  font-weight: 100;
  letter-spacing: 0.5px;
}
main .navbar .right i {
  display: block;
}
main .section1 {
  margin-top: 1rem;
}
main .section1 .hero-container {
  height: calc(100vh - 6rem);
  background-image: url(https://i.pinimg.com/1200x/8d/83/b9/8d83b98b0b083becbedc350ef62f22a6.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.7rem;
  padding: 2rem 0.7rem;
  color: #fff;
}
main .section1 .hero-container h1 {
  font-size: 2.4rem;
  line-height: 1;
}
main .section1 .hero-container p {
  opacity: 0.8;
}
main .section1 .hero-container .start-btn {
  color: black;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1.6rem;
  border-radius: 2rem;
  font-size: 0.5rem;
}
main .section2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .section2 .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section2 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section2 .bottom .top-bottom {
  display: flex;
  gap: 4rem;
}

.section3 {
  width: 100%;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
.section3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.section3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.section3 .bottom .imgs {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}
.section3 .bottom .imgs::-webkit-scrollbar {
  display: none;
}
.section3 .bottom .imgs .img {
  flex: 0 0 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.section3 .bottom .imgs .img img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  main .navbar .right {
    display: flex;
    gap: 3rem;
  }
  main .navbar .right i {
    display: none;
  }
  main .navbar .right h5 {
    display: block;
    text-transform: uppercase;
  }
  main .section1 .hero-container {
    padding: 4rem 2rem;
    gap: 1rem;
    background-position: top;
  }
  main .section1 .hero-container h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  main .section1 .hero-container p {
    font-size: 1.1rem;
    opacity: 1;
  }
  main .section1 .hero-container .start-btn {
    padding: 0.9rem 2.7rem;
    font-size: 1.5rem;
    font-size: 0.9rem;
  }
  main .section2 {
    align-items: center;
    flex-direction: row;
  }
  main .section2 .top,
  main .section2 .bottom {
    width: 50%;
  }
  main .section2 .bottom {
    align-items: end;
    gap: 2rem;
  }
  main .section2 .bottom .top-bottom {
    gap: 10rem;
  }
  main .section2 .bottom .top-bottom h1 {
    font-size: 2.8rem;
  }
  .section3 {
    padding: 1.5rem;
  }
  .section3 .bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .section3 .bottom .text {
    width: 25%;
  }
  .section3 .bottom .text h2 {
    font-size: 4rem;
  }
  .section3 .bottom .imgs {
    width: 60%;
    gap: 2rem;
    overflow: visible;
    overflow-x: visible;
  }
  .section3 .bottom .imgs .img {
    flex: 0 0 30%;
  }
}/*# sourceMappingURL=style.css.map */